module.exports = {
  content: [
    './resources/**/*.blade.php',
    './resources/**/*.js',
  ],
  theme: {
    extend: {
      fontFamily: {
        sans: [ 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"'],
      },
        'display': ['Oswald', ...],
      'body': ['"Open Sans"', ...],
    },
  },
     extend: {
          spacing: {
          '128': '32rem',
          '144': '36rem',
          },
          borderRadius: {
          '4xl': '2rem',
          },
  plugins: [
    require('@tailwindcss/forms'), // Include Tailwind CSS forms plugin
  ],
};
